{% extends "dashboard/dashboard_cust_encaps.html" %}
  {% block content %}
  {% load static %}  

			<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div style="float: left; margin-bottom: 1rem;">
                <h2 class=""></h2>
                  <div class="clearfix"></div>
              </div>

            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                
                  <form action="/custpopup/" method="post" class="form-horizontal form-label-left"  id="customization_form">
                  {% csrf_token %}
                  {% load static %}
                  <input type="hidden" name="submitted" value="submitted">
                  
                  

                    
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center" style="font-size: 15px;">
                        </br>
                        <h2 class="StepTitle text-center" style="font-size: 22px; color: #34495E;"><strong>Storefront Pop-Up Message</strong></h2>
                        <p class="text-center">
                            Enter the default message that will be displayed to customers, as they are greeted by the pop-up modal.
                        </p>                              
                        <div style="padding-top: 1.5rem;">
                          <input placeholder="" class="form-control col-md-7 col-xs-12" size="30" type="text" value="{{ popup_message }}" name="popup-message" id="form-font-size-id">
                        </div>

                      </div><!--col8-->
                      <div class="col-md-3"></div>
                    </div><!-- form group -->


                      <button class="save-bttn-cust" type="submit">
                        <div class="save-img">
                          <img src="{% static 'images/save.png' %}">
                        </div>
                         Save
                      </button>


                </form>
                    <!-- End SmartWizard Content -->


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        </div>

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            <a href="">MY EXAMPLE APP</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

 {% endblock content %}
